@import '@ui/tailwind/styles/web.css';

@source "../node_modules/@ui/common";

:root {
  /* custom variable */
  --auth-box-width: 452px;
  --content-width: 1240px;
}

.no-bounce-scroll {
  overflow-y: auto;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: auto;
}

@theme {
  /* custom font */
  --default-font-family: var(--font-pretendard);
}
