@import '@ui/tailwind/styles/web.css';

@source "../node_modules/@ui/common";

:root {
  /* custom variable */
  --auth-box-width: 452px;
  --content-width: 1240px;
}

@theme {
  /* custom font */
  --default-font-family: var(--font-pretendard);
}
