@import 'tailwindcss';
@import './fonts/Pretendard-Variable.css';
@import './theme.css';
@import './components.css';
/* @import "./utilities.css";  // 현재 프로젝트에서 사용하지 않음 */

@custom-variant dark (&:where(.dark, .dark *));

:root {
  /* Safe-Area */
  --safe-right-env: env(safe-area-inset-right, 0px);
  --safe-bottom-env: env(safe-area-inset-bottom, 0px);
  --safe-left-env: env(safe-area-inset-left, 0px);

  /* RN에서 주입할 기본값(초기 0) */
  --safe-top-native: 0px;
  --safe-right-native: 0px;
  --safe-bottom-native: 0px;
  --safe-left-native: 0px;

  /* 두 값을 합쳐 실제로 쓸 값 */
  --safe-top: max(var(--safe-top-env), var(--safe-top-native));
  --safe-right: max(var(--safe-right-env), var(--safe-right-native));
  --safe-bottom: max(var(--safe-bottom-env), var(--safe-bottom-native));
  --safe-left: max(var(--safe-left-env), var(--safe-left-native));

  --bottom-nav-h: 60px;

  /* Color */
  --color-black: oklch(0% 0 0);
  --color-white: oklch(100% 0 0);
  /* Gray Iron */
  --gray-iron-25: #fcfcfc;
  --gray-iron-50: #fafafa;
  --gray-iron-100: #f4f4f5;
  --gray-iron-200: #e4e4e7;
  --gray-iron-300: #d1d1d6;
  --gray-iron-400: #a0a0ab;
  --gray-iron-500: #70707b;
  --gray-iron-600: #51525c;
  --gray-iron-700: #3f3f46;
  --gray-iron-800: #26272b;
  --gray-iron-900: #18181b;
  --gray-iron-950: #131316;
  /* Gray Neutral */
  --gray-neutral-25: #fcfcfd;
  --gray-neutral-50: #f9fafb;
  --gray-neutral-100: #f3f4f6;
  --gray-neutral-200: #e5e7eb;
  --gray-neutral-300: #d2d6db;
  --gray-neutral-400: #9da4ae;
  --gray-neutral-500: #6c737f;
  --gray-neutral-600: #4d5761;
  --gray-neutral-700: #384250;
  --gray-neutral-800: #1f2a37;
  --gray-neutral-900: #111927;
  --gray-neutral-950: #0d121c;
  /* Malmo Raspberry */
  --malmo-rasberry-25: #fdedf0;
  --malmo-rasberry-50: #ffdde3;
  --malmo-rasberry-100: #ffc9d3;
  --malmo-rasberry-200: #feb3c0;
  --malmo-rasberry-300: #fa93a7;
  --malmo-rasberry-400: #f06b84;
  --malmo-rasberry-500: #ec4665;
  --malmo-rasberry-600: #cb2d4a;
  --malmo-rasberry-700: #912a3e;
  --malmo-rasberry-800: #641d2a;
  --malmo-rasberry-900: #360f17;
  /* Malmo Orange */
  --malmo-orange-50: #ffedd5;
  --malmo-orange-100: #ffe2bb;
  --malmo-orange-200: #ffd797;
  --malmo-orange-300: #ffca7f;
  --malmo-orange-400: #ffa126;
  --malmo-orange-500: #ff8400;
  /* Malmo Purple */
  --malmo-purple-50: #ede7ff;
  --malmo-purple-100: #e1d7ff;
  --malmo-purple-200: #d5caf5;
  --malmo-purple-300: #cbbef4;
  --malmo-purple-400: #9c81f1;
  --malmo-purple-500: #7c59ea;
  /* Font */
  --font-pretendard:
    'Pretendard', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  /* Font Weight */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --radius: 8px;
  --common-max-width: 560px;
}
