@import "tailwindcss";
@import "../fonts/Pretendard-Variable.css";
@import "./theme.css";
@import "./components.css";
@import "./utilities.css";

@custom-variant dark (&:where(.dark, .dark *));

:root {
    --color-black: oklch(0% 0 0);
    --color-white: oklch(100% 0 0);

    /* Gray Iron */
    --gray-iron-25: #FCFCFC;
    --gray-iron-50: #FAFAFA;
    --gray-iron-100: #F4F4F5;
    --gray-iron-200: #E4E4E7;
    --gray-iron-300: #D1D1D6;
    --gray-iron-400: #A0A0AB;
    --gray-iron-500: #70707B;
    --gray-iron-600: #51525C;
    --gray-iron-700: #3F3F46;
    --gray-iron-800: #26272B;
    --gray-iron-900: #18181B;
    --gray-iron-950: #131316;

    /* Gray Neutral */
    --gray-neutral-25: #FCFCFD;
    --gray-neutral-50: #F9FAFB;
    --gray-neutral-100: #F3F4F6;
    --gray-neutral-200: #E5E7EB;
    --gray-neutral-300: #D2D6DB;
    --gray-neutral-400: #9DA4AE;
    --gray-neutral-500: #6C737F;
    --gray-neutral-600: #4D5761;
    --gray-neutral-700: #384250;
    --gray-neutral-800: #1F2A37;
    --gray-neutral-900: #111927;
    --gray-neutral-950: #0D121C;

    /* Malmo Raspberry */
    --malmo-rasberry-25: #FDEDF0;
    --malmo-rasberry-50: #FFDDE3;
    --malmo-rasberry-100: #FFC9D3;
    --malmo-rasberry-200: #FEB3C0;
    --malmo-rasberry-300: #FA93A7;
    --malmo-rasberry-400: #F06B84;
    --malmo-rasberry-500: #EC4665;
    --malmo-rasberry-600: #CB2D4A;
    --malmo-rasberry-700: #912A3E;
    --malmo-rasberry-800: #641D2A;
    --malmo-rasberry-900: #360F17;

    /* Font */
    --font-pretendard: 'Pretendard', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    
    /* Font Weight */
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    --radius: 8px;
    --common-max-width: 560px;
}
