@import "tailwindcss";
@import "./theme.css";
@import "./base.css";
@import "./components.css";
@import "./utilities.css";

@custom-variant dark (&:where(.dark, .dark *));

:root {
    --color-black: oklch(0% 0 0);
    --color-white: oklch(100% 0 0);

    --color-gray: oklch(55.55% 0 0);
    --color-gray-50: oklch(98.21% 0 0);
    --color-gray-100: oklch(96.72% 0 0);
    --color-gray-200: oklch(92.49% 0 0);
    --color-gray-300: oklch(87.3% 0 0);
    --color-gray-400: oklch(71.87% 0 0);
    --color-gray-500: oklch(55.55% 0 0);
    --color-gray-600: oklch(43.86% 0 0);
    --color-gray-700: oklch(37.15% 0 0);
    --color-gray-800: oklch(27.27% 0 0);
    --color-gray-900: oklch(22.62% 0.0041 264.49);

    --color-primary: oklch(58.52% 0.1976 274.93);
    --color-primary-50: oklch(95.82% 0.0174 282.54);
    --color-primary-100: oklch(91.65% 0.0367 282.28);
    --color-primary-200: oklch(83.21% 0.0742 281.28);
    --color-primary-300: oklch(74.75% 0.1153 279.38);
    --color-primary-400: oklch(66.44% 0.1559 277.6);
    --color-primary-500: var(--color-primary);
    --color-primary-600: oklch(49.84% 0.1643 275.07);
    --color-primary-700: oklch(40.84% 0.1307 275.24);
    --color-primary-800: oklch(31.32% 0.0929 276.38);
    --color-primary-900: oklch(21.04% 0.0527 277.65);

    --color-sub-1: oklch(39.06% 0.123 270.92);
    --color-sub-2: oklch(58.52% 0.1976 274.93);
    --color-stroke: oklch(97.02% 0 0);
    --color-success: oklch(67.25% 0.1594 156.61);
    --color-destructive: oklch(65% 0.2035 23.91);

    --radius: 8px;
    --common-max-width: 560px;
}
